// Colours
$white: #ffffff;
$black: #000000;
$dove-grey: #6a6a6a;
$mine-shaft: #2f2f2f;
$alto: #d8d8d8;

// Breakpoints
$small-devices-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$xl-screen-width: 1200px;

// Grid
$total-columns: 12;
$base-spacing: 1rem;
$base-font-size: 1rem;
$gutters: 15px;